*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    margin:0;
    background:#2c3e50;
    text-align:center;
}

.login-box{
    width:400px;
    background:white;
    padding:30px;
    border-radius:10px;
    margin:180px auto;
}

h1{
    color:#1f3c88;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
    background:#3498db;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#217dbb;
}

.napaka{
    color:red;
    margin-top:15px;
    font-weight:bold;
}
